.tab__education {
  height: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.left {
  flex: 0 0 auto;
  position: sticky;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.right {
  flex: 1 1 auto;

  padding-right: 5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-height: 100%;
  overflow-y: auto;
}

.education__list,
.experience__list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.education__list-item,
.experience__list-item {
  display: flex;
  gap: 4rem;
  line-height: 1.2;
}

.time {
  flex: 0 0 auto;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #5e6a83;
  width: 15rem;
  letter-spacing: 0.5px;
  text-align: end;
  margin-top: 0.2rem;
}

.institution {
  font-size: 1.5rem;
  font-weight: 600;
}

.course {
  font-size: 1.3rem;
  margin-top: 0.6rem;
}

.description {
  font-size: 1.3rem;
  font-weight: 200;
  margin-top: 0.8rem;
  line-height: 1.5;
}

.education__list-item div,
.experience__list-item div {
  flex: 0 1 auto;
}

/* Heading dynamic */
.heading--dy {
  position: relative;
  cursor: pointer;
  width: fit-content;
}

.heading--dy.active {
  color: #382ce1;
}

.heading--dy::before {
  content: "";
  position: absolute;
  display: block;
  height: 0.2rem;
  width: 25%;
  bottom: 0;
  left: 0;
  margin-bottom: -0.8rem;
  background-color: #d9aa48;

  transition: width 0.4s ease-in-out;
}

.heading--dy.active::before {
  width: 100%;
}

/* Media Queries */

/* width 700px and less */
@media (max-width: 43.75rem) {
  .tab__education {
    gap: 4rem;
  }
}

/* Width 650px and less */
@media (max-width: 650px) {
  .tab__education {
    gap: 2.5rem;
  }

  .education__list-item,
  .experience__list-item {
    gap: 2rem;
  }

  .right {
    padding-right: 3rem;
  }
}

/* Width 600px and less */
@media (max-width: 37.5rem) {
  .tab__education {
    flex-direction: column;
    gap: 4rem;
  }

  .left {
    flex-direction: row;
    flex-basis: 20%;
    align-items: flex-end;
  }

  .right {
    flex: 0 0 auto;
    flex-basis: 80%;
  }
}

/* Width 500px and less */
@media (max-width: 500px) {
}

/* Width 450px and less */
@media (max-width: 450px) {
  .tab__education {
    align-items: center;
  }

  .right {
    width: 75%;
  }

  .education__list-item,
  .experience__list-item {
    flex-direction: column;
    gap: 1rem;
  }

  .time {
    text-align: left;
  }
}

/* Width 380px and less */
@media (max-width: 380px) {
  .right {
    width: 100%;
  }

  .left {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-right: 3rem;
  }

  .tab__education {
    gap: 4rem;
  }
}
