.tab__project {
  height: 100%;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media (max-width: 600px) {
  .tab__project {
    flex-direction: column;
  }
}
