.content {
  flex-basis: 40rem;
  padding: 2rem 3rem 2rem 4rem;
}

.title {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 800;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.title .links {
  display: flex;
  font-size: 2rem;
}

.links a {
  padding: 0.7rem;
  border-radius: 50%;

  transition: all 0.3s ease;
}

.links a:hover {
  background-color: #eceaff;
  color: #3e31fa;
}

.techs {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 1.6rem;
}

.tech {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-radius: 1.6rem;
}

/* Techs color */
.react {
  background-color: #61dcfbbe;
}
.express {
  background-color: #8787876d;
}

.materialui {
  background-color: #387fc566;
}

.node {
  background-color: #a0c75cb9;
}

.axios {
  background-color: #804b9445;
}

.formik {
  background-color: #2152c535;
}

.yup {
  background-color: #6e6e6e2d;
}

.jwt {
  background-color: #e9335a6a;
}

.mysql {
  background-color: #2d5f835b;
}

.sequelize {
  background-color: #65b1eb7b;
}

.bcrypt {
  background-color: #395d6242;
}

.framer {
  background-color: #cdc0f5;
}

.typescript {
  background-color: #4476c065;
}

.sass {
  background-color: #ba69919b;
}

.description {
  font-size: 1.3rem;
  font-weight: 200;
  line-height: 1.7;
}

@media (max-width: 600px) {
  .content {
    width: 95%;
  }
}
